<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tumor Region Highlighted</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
</head>
<body style="text-align:center; margin-top:50px;">
  <h2>Tumor Region Highlighted</h2>
  <img id="overlayImg" src="" alt="Tumor Overlay" style="max-width:400px; border:1px solid #ccc;" />
  <br><br>
  <button onclick="window.close()">⬅ Back</button>

  <script>
    const overlayURL = sessionStorage.getItem("overlay_image");
    if (overlayURL) {
      document.getElementById("overlayImg").src = overlayURL;
    } else {
      document.body.innerHTML += "<p>No overlay available.</p>";
    }
  </script>

  
</body>
</html>
