@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background */
.signup-container {
   width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf5f9;
  padding: 40px;
  padding-top: 80px; /* space for navbar */
}

/* Signup card */
.signup-card {
  background: #ffe6fd; /* soft blue */
  border-radius: 24px;
  box-shadow: 0 15px 30px rgba(138, 30, 120, 0.15);
  padding: 40px 60px;
  text-align: center;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

/* Titles */
.signup-title {
  color: #9d1861;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.signup-subtitle {
 color: #371424;
  font-size: 1rem;
  margin-bottom: 25px;
}


.input-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #371427;
}

.input-group input {
  padding: 12px 15px;
  border-radius: 12px;
  border: 1.5px solid #cccccc;
  font-size: 15px;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #9d1873;
  outline: none;
}

/* Error messages */
.error {
  color: red;
  font-size: 13px;
  margin-top: 2px;
}

/* Signup button */
.signup-btn {
   margin-top: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #371432 0%, #9d186f 100%);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 10px rgba(157, 24, 157, 0.25);
}

.signup-btn:hover {
   background: linear-gradient(90deg, #9d1880 0%, #ce439b 100%);
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 5px 16px rgba(157, 24, 128, 0.3);
}

/* Signup link text */
.login-text {
  text-align: center;
  margin-top: 20px;
  font-size: 0.95rem;
}

.login-text a {
  color: #9d1875;
  font-weight: 600;
  text-decoration: none;
}




/* Responsive */
@media (max-width: 600px) {
  .signup-card {
    padding: 25px 30px;
  }

  .signup-title {
    font-size: 1.3rem;
  }

  .signup-btn {
    font-size: 0.95rem;
    padding: 10px 24px;
  }
}
.footer {
  width: 100%;
  background: linear-gradient(90deg, #8a1e66, #eb25c0);
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  font-weight: 500;
  font-size: 0.95rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-weight: 500;
}